<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css"></link>
    <script src="/public/jquery-3.7.1.min.js"></script>
    <script src="/public/script.js"></script>
    <title>hmm</title>
</head>
<body>
    <div id="first-page">
    <div>
        <input id="input-url" type="url">
    </div>
    <div id="button-create">
        <button>Create</button>
    </div>
    </div>
    <div id="second-page" style="display: none;">   
        <a id="result-url" href="https://localhost:9877/result12">   
            https://localhost:9877/result12
        </a> 
        <div id="button-copy" >
            <button>Copy</button>
        </div>
        <div id="button-return">
            <button>Return</button>
        </div>
    </div>
        
</body>
</html>